[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
numpy = "*"
scipy = "*"
tqdm = "*"
docopt = "*"
pytorch = "*"
nltk = "*"
torchvision = "*"
torch = {file = "https://download.pytorch.org/whl/cpu/torch-1.0.1.post2-cp37-cp37m-linux_x86_64.whl"}

[requires]
python_version = "3.7"
